:root{
  --dark-blue: #16171C;
  --light-orange: #efa777;
  --dark-orange: #b6631d;
  --dark-green: #142419;
  --pink: #bf8172;
}
body{
  font-family: sans-serif;
  margin: 0;
}
.card{
  max-width: 200px;
}
.card__image{
  max-width: 200px;
}

/*utilities*/
/*backgrounds*/
.dark-blue-bg{
  background-color: var(--dark-blue)
}
.light-orange-bg{
  background-color: var(--light-orange)
}
.dark-orange-bg{
  background-color: var(--dark-orange)
}
.dark-green-bg{
  background-color: var(--dark-green)
}
.pink-bg{
  background-color: var(--pink)
}
.white-bg{
  background-color: #fff
}

/*colors*/
.dark-blue{
  color: var(--dark-blue)
}
.light-orange{
  color: var(--light-orange)
}
.dark-orange{
  color: var(--dark-orange)
}
.dark-green{
  color: var(--dark-green)
}
.pink{
  color: var(--pink)
}
.white{
  color: #fff
}