:root{
  --dark-blue: #16171C;
  --light-orange: #efa777;
  --dark-orange: #b6631d;
  --dark-green: #142419;
}
.App{
  font-family: sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "h h h h h h"
  "m m m m m m"
  "m m m m m m"
}
p,h5,h3{
  margin: 0
}
.header{
  grid-area: h;
  display: flex;
}
.filter{
  display: flex;
  justify-content: space-around;
  flex: 3;
}
.filter a:hover {
    background: var(--dark-blue)
}
.filter a{
    text-decoration: underline;
    color: white;
    background: var(--light-orange);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    padding: 25px 10px 5px 10px;
    font-family: 'Sunflower', sans-serif;
    font-size: 22px;
    flex: 1;
}
.main{
  display: flex;
  grid-area: m
}
.aside{
  padding: 10px;
  flex: 1;
}
.portfolio{
  display: flex;
  flex: 3;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.info{
  margin-left: auto
}
.project{
  margin: 18px;
  flex-basis: 35%;
}
.project__link{
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  border: 2px solid pink;
  -webkit-filter: grayscale(1);
}
.project__link:hover,
.project__link:focus{
  -webkit-filter: none;
  outline: none;
}
.description{
  margin-bottom: 10px
}
.tag{
    background: #142419;
    color: #fff;
    font-size: 80%;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
}
.tag.occasion{
  color: #142419;
  font-size: 85%;
  background-color: #fff;
}
.contact{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  position: fixed;
  bottom: 20px;
  width: 20%;
}
.contact a i{
  font-size: 36px;
}
.contact a i:hover{
  color: var(--light-orange)
}

.display-none{
  display: none;
}

@media screen and (max-height: 500px),
screen and (max-width: 900px){
  .main{
    display: block;
  }
  .aside{
    text-align: center;
  }
  .contact{
    top: -20px;
    width: 150px;
    left: 50%;
    bottom: unset;
  }
}

/*utilities*/
/*backgrounds*/
.dark-blue-bg{
  background-color: var(--dark-blue)
}
.light-orange-bg{
  background-color: var(--light-orange)
}
.dark-orange-bg{
  background-color: var(--dark-orange)
}
.dark-green-bg{
  background-color: var(--dark-green)
}
.pink-bg{
  background-color: var(--pink)
}
.white-bg{
  background-color: #fff
}

/*colors*/
.dark-blue{
  color: var(--dark-blue)
}
.light-orange{
  color: var(--light-orange)
}
.dark-orange{
  color: var(--dark-orange)
}
.dark-green{
  color: var(--dark-green)
}
.pink{
  color: var(--pink)
}
.white{
  color: #fff
}

/*filters - useful to classify projects*/