:root{
  --dark-blue: #16171C;
  --light-orange: #efa777;
  --dark-orange: #b6631d;
  --dark-green: #142419;
}
.App{
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  background: white;
  color: black;
  min-height: 100vh;
}
p,h5,h3{
  margin: 0
}
.header{
  padding: 20px;
  display:flex;
  border-bottom: 2px solid gray;
}
.header__name{
  margin:0;
}
.header__menu{
  padding: 0;
  list-style-type: none;
  display: inline;
}
.header__menu--language{
  margin: 0 20px;
}
.header__menu__item{
  display: inline;
  margin: 0 10px;
}
.header__menu__item--language{
  margin: 0;
}
.header__menu__item--language:after{
  content: '|';
  display: inline-block;
  margin: 0 5px;
}
.header__menu__item--language:last-child:after{
  content: '';
}
.filter{

}
.portfolio{
  display: flex;
  flex: 3;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.info{
  margin-left: auto
}
.project{
  margin: 18px;
  flex-basis: 35%;
}
.project__link{
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  border: 2px solid pink;
  -webkit-filter: grayscale(1);
}
.project__link:hover,
.project__link:focus{
  -webkit-filter: none;
  outline: none;
}
.description{
  margin-bottom: 10px
}
.tag{
    background: #142419;
    color: #fff;
    font-size: 80%;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
}
.tag.occasion{
  color: #142419;
  font-size: 85%;
  background-color: #fff;
}
.contact{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  position: fixed;
  bottom: 20px;
  width: 20%;
}
.contact a i{
  font-size: 36px;
}
.contact a i:hover{
  color: var(--light-orange)
}

.display-none{
  display: none;
}

@media screen and (max-height: 500px),
screen and (max-width: 900px){
  .main{
    display: block;
  }
  .aside{
    text-align: center;
  }
  .contact{
    top: -20px;
    width: 150px;
    left: 50%;
    bottom: unset;
  }
}

/*utilities*/
/*backgrounds*/
.dark-blue-bg{
  background-color: var(--dark-blue)
}
.light-orange-bg{
  background-color: var(--light-orange)
}
.dark-orange-bg{
  background-color: var(--dark-orange)
}
.dark-green-bg{
  background-color: var(--dark-green)
}
.pink-bg{
  background-color: var(--pink)
}
.white-bg{
  background-color: #fff
}

/*colors*/
.dark-blue{
  color: var(--dark-blue)
}
.light-orange{
  color: var(--light-orange)
}
.dark-orange{
  color: var(--dark-orange)
}
.dark-green{
  color: var(--dark-green)
}
.pink{
  color: var(--pink)
}
.white{
  color: #fff
}

/*filters - useful to classify projects*/