:root{
  --black: #050505;
  --gray: #B5B5B5;
  --white: #F7F7F7;
  --pink: #F4ABD7;
  --yellow: #F4C904;
}
.App{
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  background: var(--white);
  color: var(--black);
}
p,h5,h3{
  margin: 0
}
.header{
  padding: 20px;
  display:flex;
  align-items: center;
  border-bottom: 2px solid var(--gray);
}
.header__name{
  margin:0 40px 0 0;
}
.header__menu{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}
.header__links--language{
  margin-left: auto;
}
.header__menu__item{
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}
.header__menu__item--language{
  margin: 0;
}
.header__menu__item--language:after{
  content: '|';
  display: inline-block;
  color: var(--black) !important;
  font-weight: 300 !important;
  margin: 0 5px;
}
.header__menu__item--language:last-child:after{
  content: '';
}
.filter{

}
.portfolio{
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.info{
  margin-left: auto
}
.project{
  width: 200px;
  margin: 20px;
  text-align: center;
}
.project__link{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  border: 2px solid var(--pink);
  -webkit-filter: grayscale(.8);
}
.project:hover .project__link,
.project__link:hover,
.project__link:focus,
.active .project__link{
  -webkit-filter: none;
  outline: none;
}
.project__title{
  font-size: 16px;
  margin-top: 10px;
}
.project__icon{
  margin-left: 20px;
  color: gray;
  cursor: pointer;
}

.project__icon:hover,
.project__icon:focus{
  color: var(--pink);
  outline: none;
}
.active .project__icon:before{
  content:'\f068'; /*changes plus to minus*/
}
.project__stack{
  font-size: 14px;
  word-wrap: break-word;
  display: block;
}
.project__stack__item:after{
  content: "/";
  margin: 0 5px;
  display: inline-block;
}
.project__stack__item:last-child:after{
  content: "";
}
.project__description{
  font-size: 14px;
  text-align: left;
  border: 2px solid var(--yellow);
  padding: 10px;
  margin: 10px 0 0 0;
  width: 175px;
  position: absolute;
  background: white;
  opacity: 0;
  transition: .2s;
  pointer-events: none;
}
.project__description--open{
  z-index: 9;
  opacity: 1;
}

.summary{
  padding: 20px;
  font-size: 21px;
  background: var(--black);
  color: var(--white);
  display: flex;
}

.contact{
  font-size: 36px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__link{
  color: var(--white);
}
.contact__link:hover,
.contact__link:focus{
  color: var(--pink);
  outline: none;
}


@media screen and (max-height: 500px),
screen and (max-width: 900px){
  .contact{
    top: -20px;
    width: 150px;
    left: 50%;
    bottom: unset;
  }
}

/*utilities*/
/*utilities - font-related*/
.bold{
  font-weight: 700;
}
.normal{
  font-weight: 500;
}
.light{
  font-weight: 300;
}
/*utilities - display-related*/
.display-none{
  display: none;
}

/*colors*/
.pink{
  color: var(--pink)
}
.yellow{
  color: var(--yellow) !important
}

/*filters - useful to classify projects*/